doctype html
meta(charset="utf-8")

html()
    head
        block title
            title Iva example

        link(rel="stylesheet" type="text/css" href="/styles/default/css/main.css")

        script(src="/node_modules/d3/d3.js")
        script(src="/node_modules/babel-polyfill/browser.js")
        script(src="/build/iva.js")

    body
        svg(id="chart")
        script(src="./index.js")    
